{% extends 'base.html.twig' %}

{% block title %}Edit Moderateur{% endblock %}

{% block body %}
    <h1>Edit Moderateur</h1>

    {{ include('moderateur/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('moderateur_index') }}">back to list</a>

    {{ include('moderateur/_delete_form.html.twig') }}
{% endblock %}
