{% extends 'base.html.twig' %}

{% block title %}New Moderateur{% endblock %}

{% block body %}
    <h1>Create new Moderateur</h1>

    {{ include('moderateur/_form.html.twig') }}

    <a href="{{ path('moderateur_index') }}">back to list</a>
{% endblock %}
