{% extends 'base.html.twig' %}

{% block title %}Moderateur{% endblock %}

{% block body %}
    <h1>Moderateur</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ moderateur.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('moderateur_index') }}">back to list</a>

    <a href="{{ path('moderateur_edit', {'id': moderateur.id}) }}">edit</a>

    {{ include('moderateur/_delete_form.html.twig') }}
{% endblock %}
